/* SS04_BT04_Nguyễn Bình Lam Nghi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.bold {
    font-weight: bold;
}

.blue {
    color: blue;
}

.text {
    border: 2px solid grey;
    width: 600px;
    height: 250px;
    padding: 5px;
}