/* SS04_BT06_Nguyễn Bình Lam Nghi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(255, 255, 217);
    text-align: center;
}

h1 {
    color: darkblue;
}

.btn {
    width: 150px;
    height: 35px;
    background-color: rgb(229, 229, 229);
}

.btn:hover {
    background-color: green;
    color: white;
}